<p>
  <strong><%= raw comment.commenter %></strong> : <%= raw comment.body %>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>