<%= form_for([@article, @article.comments.build]) do |f| %>
<meta charset="utf-8">
<div class="fr-view">
  <p>
    <%= f.label "Comment as: " %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <script>
      $(function() {
          $('#comment_body').froalaEditor()
      });
  </script>
<% end %>
</div>