<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<html>
<head>
  <meta charset="utf-8">
  <div class="fr-view">
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.text_area :text %>
      </p>
      <p>
        <%= f.submit %>
      </p>
  </div>

  <!-- Initialize the editor. -->
  <script>
      $(function() {
          $('#article_text').froalaEditor()
      });
  </script>
</body>
</html>

<% end %>