<h1>Current post --></h1>
<div class="fr-view">
	<p>
	  <strong>Title of the post --></strong>
	  <%= raw @article.title %>
	</p>
	<p>
	  <strong>Post content --></strong>
	  <%= raw @article.text %>
	</p>
	 
	<h2>Comments: </h2>
	<%= render @article.comments %>
	 
	<h2>Add a comment:</h2>
	<%= render 'comments/form' %>
</div>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>